body {
  background: #222;
  color: White;
  display: block;
}
.header {
  height: 65px;
  padding-top: 20px ;
  
}
.wrapper {
  width:95%;
  height: 40px;
  background-color: lightskyblue;
  
  background-image: -webkit-linear-gradient(top, lightskyblue , dodgerblue );
  background-image:         linear-gradient(to bottom, lightskyblue , dodgerblue );
  margin: 0 auto;
}
.logo {
  
  font-family: 'Signika', sans-serif;
  text-shadow: 1px 1px 3px #888;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 35px;
  width: 70%;
  text-align: center;
  /* align-content: center; */
  float: center;
}
.telefono {
  float: right;
  color: white;
  line-height: 40px;
  margin-right: 20px;
}
.logosubwrapper {
	/* width:800px; */
  margin:0 auto;
  border: 1px solid red;
}

.nav {
  display: flex;
  
}
.nav .selected a
{
	/* background: red !important; */
}
.nav li  {
	line-height: 50px;
	text-align: center;
	width:70px;
	display:inline-flex;
	height:50px;
	text-decoration: none;
	color:white;
	/* font-size: 17px; */
  font-weight: bold;
  justify-content: center;
	/* text-shadow: 1px 1px 3px #000; */
}
h2 {
  text-align: center;
}
.section img {
  width: 350px;
  height: 350px;
  display: block;
  margin: auto;
  

}
.section p {
  text-align: center;
}